body {
	font-family: consolas;
	overflow: hidden;
}
h1 {
	position: fixed;
	width: 100%;
	top: 28%;
	text-align: center;
	font-size: 100px;
	font-weight: 900;
}
.button {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	text-decoration: none;
	padding: 25px;
	border-radius: 15px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.button:hover {
	padding: 30px;
}
#highscore {
	position: fixed;
	width: 100%;
	top: 70%;
	text-align: center;
	font-size: 30px;
}
